flask
flask-cors
numpy~=1.19.2
scipy
six~=1.15.0
tensorflow==2.4.0
keras
tensorflow-addons
pandas
scikit-image
opencv-python
requests==2.24.0
google-auth
google-cloud-storage
sklearn
keras-tuner
gunicorn
scikit-multilearn
tqdm
seaborn
matplotlib
